<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block tittle %} Pagina de Inicio {% endblock %}</title>
</head>
<body>

  <h1>Mi Primer Menu</h1>
    <ul>
        <li>   <a href=" {% url "home" %} ">Portada</a>              </li>
        <li>   <a href=" {% url "about-me" %} ">Acerca de</a>   </li>
        <li>   <a href=" {% url "contact" %} ">Contacto</a>     </li>
    </ul>

   {% block content %} {% endblock %}

</body>
</html>